---
layout: default
---

<header role="banner" class="hero">
    <div class="container">
        <div class="layout">
            <div class="layout__item palm-1/1">
            	<div class="wow fadeIn animated" data-wow-delay="3s">
                	<h1 class="site-name text--uppercase">Mitchell Renton<span class="display--block">User Experience Designer &amp; Developer</span></h1>
                </div>
                <div class="wow fadeIn animated" data-wow-delay="1s">
                	<h2 class="text--center">
	                	I get to work on the web every day.
	                	<br>
	                	Well that’s just marvellous isn’t it?
                	</h2>
                </div>
            </div><!-- layout__item -->
        </div><!-- layout -->
    </div><!-- container -->
</header>

<div class="container">
    <section class="[ spotlight spotlight--project ]">
        <h2>Projects I’ve been working on</h2>
        <div class="layout">
            <div class="layout__item palm-1/1 lap-and-up-1/3">
                <div class="[ spotlight--project__item ]">
                    <a href="http://mustardthreads.com" title="Visit Mustard Threads, enter your email address and we’ll notify you when we launch.">
                        <img src="img/mustard-threads-project.png" alt="Mitchell Renton’s Projects - Recruitem">
                        <h3 class="project__title">Mustard Threads</h3>
                        <p class="project__desc">Mustard Threads is a question and answer site where you can get free and personalised style advice.</p>
                    </a>
                </div>
            </div><!--
            --><div class="layout__item palm-1/1 lap-and-up-1/3">
                <div class="[ spotlight--project__item ]">
                    <a href="http://recruitem.net" title="Take a look at Recruit’em!">
                        <img src="img/recruitem-project.png" alt="Mitchell Renton’s Projects - Recruitem">
                        <h3 class="project__title">RecruitEm</h3>
                        <p class="project__desc">A social recruiting tool allowing recruiters to source candidates on LinkedIn, Google+, Twitter, Xing, Stack Overflow and Github.</p>
                    </a>
                </div>
            </div><!--
            --><div class="layout__item palm-1/1 lap-and-up-1/3">
                <div class="[ spotlight--project__item ]">
                    <a href="http://www.searchlatte.com" title="Take a look at Search Latte!">
                        <img src="img/search-latte-project.png" alt="Mitchell Renton’s Projects - Recruitem">
                        <h3 class="project__title">Search Latte</h3>
                        <p class="project__desc">Search Latte allows you to build Google searches in any combination of Google supported top level domain, country and language.</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div><!-- container -->

<div class="container">
    <div class="[ spotlight spotlight--about ]">
        <h2>A little bit about me</h2>
        <div class="layout">
            <div class="layout__item palm-1/1 lap-and-up-2/3">
                <p class="beta about--lead">I enjoy a great work-life balance which ensures I don’t lose focus on what’s important. Whether it’s keeping up to date with web technology, making time for friends &amp; family or keeping a project intuitive and productive.</p>
            </div><!--
            --><div class="layout__item palm-1/1 lap-and-up-1/3">
                <p>I’m lucky enough to be doing a job that I love. I started tinkering with websites after university.  Curious about how sites were built I would look at the source code and figure out how things were rendered.</p>
                <p>Soon after I got a copy of Photoshop and started designing sites. I now lead a team of multi-disciplined UX professionals at Adecco.</p>
            </div>
        </div>
    </div>
</div>

<div class="skills">
    <div class="container">
        <section class="spotlight spotlight--skills">
            <h2>Here's what I do</h2>
                    
	            <ul class="list--stripped skills__list text--center">
	            	<li class="wow fadeIn animated" data-wow-delay="1s">I research, analyse, ask questions</li>
	            	<li class="wow fadeIn animated" data-wow-delay="2s">I sketch things on paper, post-its, mole-skins</li>
	            	<li class="wow fadeIn animated" data-wow-delay="3s">I wireframe with pencils, markers, Axure, Photoshop</li>
	            	<li class="wow fadeIn animated" data-wow-delay="4s">I prototype using Foundation or InVision</li>
	            	<li class="wow fadeIn animated" data-wow-delay="5s">I test with Morae</li>
	            	<li class="wow fadeIn animated" data-wow-delay="6s">I iterate</li>
	            	<li class="wow fadeIn animated" data-wow-delay="7s">I design with Photoshop or in the browser</li>
	            	<li class="wow fadeIn animated" data-wow-delay="8s">I build using Yoeman, Grunt and Bower</li>
	            	<li class="wow fadeIn animated" data-wow-delay="9s">I write scalable accessible markup</li>
	            	<li class="wow fadeIn animated" data-wow-delay="10s">I use Git for source control</li>
	            </ul>

        </section>
    </div>
</div>

{% include footer.html %}