<header class="site-header {{ page.header_class }}">

  <div class="section section--no-pad">

    <div class="grid">
      
      <div class="grid__col-8 grid__col-md-4">
      
        <div class="site-name">
      
          <a href="/">{{ site.data.global.author.name }}</a>
        
        </div>
      
      </div>

      <div class="grid__col-4 grid__col-md-8 text--right">
        
        <nav class="site-nav nav-collapse">
          
          <ul class="nav nav--inline">
            
            {% for link in site.data.nav.main %}
              
              {% assign current = nil %}
              
              {% if page.url == link.url %}
              
                {% assign current = 'site-nav__item--active' %}
              
              {% endif %}
              
              <li class="site-nav__item {{ current }}">
    
                <a href="{{ site.github.url }}{{ link.url }}" title="{{ link.desc }}">{{ link.title }}</a>
    
              </li>
    
            {% endfor %}
    
          </ul>
    
        </nav>
    
      </div>
    
    </div>

  </div>

</header>