// TYPE

body {
	font-family: $bodyFont;
	line-height: 1.4;
    -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: $bodyColour;
}

h1, h2, h3, h4, h5, p, {
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	font-family: $headingFont;
}

h1 {
	@include typi($h1-map);
	margin-bottom: vr(1);
}

h2 {
	@include typi($h2-map);
	padding-top: vr(1);
	margin-bottom: vr(1);
}

h3 {
	@include typi($h3-map);
	padding-top: vr(.5);
	margin-bottom: vr(.5);
}

p {
	@include typi($p-map);
	margin: 0 0 vr(1);
}

a {
	color: #000;
	border-bottom: 1px dashed #ccc;
	text-decoration: none;

	&:hover {
		border-bottom-style: solid;
		border-color: #333;
	}
}

article {

	figcaption small {
		line-height: 2rem;
	}

	.pullquote {
		float: left;
		text-transform: uppercase;
		@extend .text--muted;
		@extend .text--right;
		width: 10em;
	}

	.lead {
	}

	blockquote p {
		font-family: $headingFont;
		font-style: normal;
	}

	figure {
		margin: $spacing-lg 0;
	}

}

.external-link {
	i {
		font-size: 80%;
	}
}