// TYPE

.typeset {
	
	p a, li a {
		text-shadow: none;
	}

	small {
		font-family: "Source Sans Pro", sans-serif;
	}

	figcaption small {
		line-height: 2rem;
	}

	.pullquote {
		float: left;
		@include fontsize(19,all)
		text-transform: uppercase;
		@extend .text--muted;
		@extend .text--right;
		width: 10em;
	}

	.lead {
		@include sassline(delta, $headingtype, 2.5, 2, all);
	}

	blockquote p {
		@include sassline(delta, $headingtype, 2.5, 2, all);
		font-family: "Playfair Display", serif;
		font-style: normal;
	}

	figure {
		margin: $base-spacing-unit--double 0;
	}
} 

strong, b {
	font-weight: bold;
}

.external-link {
	i {
		font-size: 80%;
	}
}