// CASE STUDIES

.case-studies {
	padding: $spacing;
}

.case-studies__item {
	padding-bottom: $spacing-lg;
	margin-bottom: $spacing;
	border-bottom: 1px solid rgba(0,0,0,.1);
	&:last-child {
		border-bottom: none;
	}
}

.case-studies__title {
}

.case-studies__excerpt {
	padding-top: $spacing;
}