// CASE STUDIES

.case-studies {
	padding: $base-spacing-unit;
}

.case-studies__item {
	padding-bottom: $base-spacing-unit--double;
	margin-bottom: $base-spacing-unit;
	border-bottom: 1px solid rgba(0,0,0,.1);
	&:last-child {
		border-bottom: none;
	}
}

.case-studies__title {
}

.case-studies__excerpt {
	padding-top: $base-spacing-unit;
}