// ARTICLE
/*
.article__header {
	//padding: $base-spacing-unit $base-spacing-unit 0;
}

.article__body {
	max-width: 40em;
	margin: 0 auto;
	padding: 0 $base-spacing-unit;
}


.article__body h2 {
	&:after {
		content: "";
		display: block;
		width: 35px;
		height: 3px;
		background-color: #999;
	}
}
*/