// HERO

.hero {
	position: relative;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
    background-position: 100% 0;
    background-attachment: fixed;
    background-size: contain;

    @include breakpoint(break-0) {
        background-image: url(/assets/images/resized/480/mitchellrenton-hero-image.jpg);
    }

    @media 	only screen 
    		and (orientation: portrait) 
    		and (max-width: 40em) {
    	background-image: url(/assets/images/mitchellrenton-hero-image-portrait.jpg);
    }

    @include breakpoint(break-1) {
        background-image: url(/assets/images/resized/800/mitchellrenton-hero-image.jpg);
        background-size: cover;
    }

    @include breakpoint(break-3) {
        background-image: url(/assets/images/resized/1400/mitchellrenton-hero-image.jpg);
    }

    @include breakpoint(break-4) {
        background-image: url(/assets/images/mitchellrenton-hero-image.jpg);
    }
}

.hero__content {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hero__title {
	color: #fff;
	font-family: "Playfair Display", serif;
	font-weight: 900;
	@include sassline(62, $headingtype, 4.5, 0, all);
}

.hero__sub-title {
	@include sassline(zeta, $bodytype, 2.5, 2, all);
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 4px;
	font-family: "Source Sans Pro", sans-serif;
}

.hero__actions {
	margin-left: -$base-spacing-unit;
	padding-top: $base-spacing-unit;
}

.hero__action {
	vertical-align: top;
	padding-left: $base-spacing-unit;

	.button {
		width: 100%;
	}

	@include breakpoint(break-1) {
				
		.button {
			width: auto;
		}
	}
}