// ARTICLE

@include breakpoint($break-md) {

	.article {
		max-width: 680px;
		margin: 0 auto;
	}

	.article__intro {
		margin: 0 auto;
		width: 80%;
	}

	.article__image {
		max-width: 150px;
		margin-right: $spacing-md;
		img {
			border-radius: 500px;
		}
	}

	.article__heading {
		@include typi($h1-map);
		font-weight: bold;
	}

	.article__subheading {
	}

	.article__support-text {
		@include typi($p-map);
	}

	.article__blockquote {
	}

}