// Process

.site-page--process {

	.process-nav__item {

		//@include sassline($fontsize: 22, $font: $headingtype, $lineheight: 1, $below: 2, $breakpoint: all)

		a {
			@include pop();
			background: none;
			&:hover, &:active, &:focus  {
				background: none;
			}
			&:hover {

			}
		}
		&.process-nav__item--active a {
			animation: none ;
		}
	}

	h1, h2, h3 {
		color: #fff;
	}

	p a {
		color: white;
		background: none;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
			background: none;
		}
	}
}

.process-nav__item--active {
	opacity: .6;
	&:before {
		content: " - "
	}
}

.typeset .process__title {
	//@include fontsize(15,all);
	padding-bottom: $spacing;
	letter-spacing: 2px;
	color: #fff;
	opacity: .6;
	&:hover {
		opacity: 1;
	}
}

.process-nav a {
	color: #fff;
}

.page--white {
	.site-page--process {
		color: #333;
	}
	.process__title {
		color: $bodyColour;
	}
	.process-nav__item a {
		color: $linkColour;
	}
	h1, h2, h3 {
		color: $headingColour;
	}
}

.page--green {
	.site-page--process {
		background-color: #46B29D;
		color: #fff;
	}
	.site-header {
		@extend %site-header--reverse;
		background-color: rgba(70,178,157,.8);
	}
}

.page--dark-blue {
	.site-page--process {
		background-color: #324D5C;
		color: #fff;
	}
	.site-header {
		@extend %site-header--reverse;
		background-color: rgba(50,77,92,.8);
	}	
}

.page--light-blue {
	.site-page--process {
		background-color: #2C7DC7;
		color: #fff;
	}
	.site-header {
		@extend %site-header--reverse;
		background-color: rgba(44,125,199,.8);
	}
}

.page--peach {
	.site-page--process {
		background-color: #DE5B49;
		color: #fff;
	}
	.site-header {
		@extend %site-header--reverse;
		background-color: rgba(222,91,73,.8);
	}
}

.page--orange {
	.site-page--process {
		background-color: #E37B40;
		color: #fff;
	}
	.site-header {
		@extend %site-header--reverse;
		background-color: rgba(227,123,64,.8);
	}
}