// BUTTONS

.button, button {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0;
	cursor: pointer;
	overflow: visible;
	padding: $spacing-xs $spacing;
	background: transparent;
	border-width: 1px;
	border-style: solid;
	//@include fontsize(16,all);
}

.button--dark {
	border-color: $linkColour;
	color: $linkColour;

	&:hover {
		background-color: $linkColour;
		color: #fff;
	}
}

.button--light {
	border-color: rgba(255,255,255,.8);
	color: rgba(255,255,255,1);
	
	&:hover {
		background-color: #fff;
		color: $bodyColour;
	}
}

.button--cta {
	background-color: #0288D1;
	border: none;
	color: #fff;
	&:hover {
		background-color: darken(#0288D1,10%);
		color: #fff;
	}
}