// SETTINGS

// Spacing
$base-spacing-unit : 			24px;
$base-spacing-unit--half :		$base-spacing-unit / 2;
$base-spacing-unit--double :	$base-spacing-unit * 2;

// Text colours
$headingColour: 				#333;
$bodyColour: 					$headingColour;
$bodyTextMuted:					#777;
$linkColour: 					#50808E;
$hoverColour: 					darken($linkColour,10%);
$captionColour: 				lighten($bodyColour,30%);

// Background colours
$backgroundColour: 				#fff;
$codeBackgroundColour: 			#F5F4F2 !default;

// Icons
$fa-font-path:        			"../../../assets/fonts";
$fa-font-size-base:   			16px;
$fa-line-height-base: 			1.5;
$fa-css-prefix:        			icon;

// Layout
$av-gutter: 					$base-spacing-unit;
$av-width-class-namespace: 		"grid__cell--";
$av-enable-responsive: 			true;
$av-enable-grid-large:			true;
$av-enable-grid-auto:			true;

// Animations
$use-fadeInRightBig: 			true;
$use-fadeInLeftBig: 			true;
$use-fadeInDownBig: 			true;
$use-fadeInUpBig:				true;
$use-bounceIn:					true;
$use-fadeIn: 					true;
$use-fadeOut: 					true;
$use-pulse: 					true;
$base-duration: 				.4s;

// Hover animations
$includeClasses: 				false;
$nameSpace: 					'animate' 