// MIXINS

/*
$bodytype: (
  font-family: '"Source Sans Pro", sans-serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.66
);

$headingtype: (
  font-family: '"Playfair Display", sans-serif',
  regular: 400,
  bold: 700,
  cap-height: 0.79
);
*/