.btn--primary {
	&:hover {
		background-color: darken($inuit-btn-background,10%);
		color: white;
	}
	&:active {
		border-color: darken($inuit-btn-background,10%);
	}
}

.btn--transparent {
	border: 1px solid $inuit-btn-background;
	background-color: transparent;
	color: $inuit-btn-background;
	&:hover {
		color: #fff;
		background-color: $inuit-btn-background;
	}
}

.btn--block {
	display: block;
}